<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      
      <add name="DjangoHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\projects\env\Scripts\python.exe|D:\projects\env\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="D:\projects\electronics" />
    <add key="WSGI_HANDLER" value="electronics.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="electronics.settings" />
  </appSettings>
</configuration>